{{ if not (eq .Site.Params.dark "on") -}}
@media (prefers-color-scheme: dark) {
{{ end -}}
html {
    scrollbar-color: #acabab #1d2021;
}

body {
    color: #f9f9f9;
    background: #15181b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header#banner a {
    color: #e0e0e0;
    text-decoration: none;
}

header#banner nav ul li a {
    color: #cccccc;
}

main#content a {
    color: #f8fa8f;
}

main#content p {
    color: #f5f5f5;
}

main#content hr {
    background: #fb8f37;
}

main#content #toc h4 {
    color: #d4d4d4;
}

main#content ul#posts small {
    color: #cbcbca;
}

main#content ul#posts li a:hover {
    color: #41f690;
}

main#content header#post-header div {
    color: #83a598;
}
{{- if not (eq .Site.Params.dark "on") -}}
}
{{- end -}}
